@import "tailwindcss";

@layer base {
  body {
    @apply relative min-h-screen text-slate-900;
  }
  body::before {
    @apply absolute inset-0 -z-2 bg-slate-900 content-[''];
  }
  body::after {
    @apply absolute inset-0 -z-1 bg-white blur-lg content-[''];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-950;
  }
  h2 {
    @apply pt-20 text-5xl/snug font-semibold;
  }
  h3 {
    @apply text-3xl font-medium;
  }
  h4 {
    @apply mx-5 mt-6 justify-self-stretch border-l-3 py-1 pl-5 text-2xl text-white;
  }

  iframe {
    @apply rounded-t-lg;
  }

  figure > img {
    @apply w-30;
  }
}

@layer components {
  .progress-bar::before {
    @apply absolute inset-x-[50px] bottom-0 h-min border-b-[0.5px] border-slate-500/50 content-[''];
  }
  .progress-bar::after {
    @apply absolute inset-x-[50px] bottom-0 h-px bg-slate-950 content-[''];
    transform-origin: center left;
    animation: progress linear;
    animation-timeline: scroll(root block);
  }

  .shadowing {
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }

  .contact-button {
    padding: 5px 25px 8px 25px;
    border-radius: 40px;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.1),
      inset 0 -2px 5px rgba(0, 0, 0, 0.4),
      0 0 10px rgba(0, 0, 0, 0.3);
  }

  .separator {
    @apply relative;
  }
  .separator::before {
    @apply absolute inset-x-[40%] h-min border-t-[10px] border-double border-slate-500 content-[''];
  }

  #projects,
  #skills,
  #contact {
    @apply px-[100px];
  }

  #projects article {
    @apply grid w-[505px] items-start rounded-lg bg-slate-500 text-white;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }
  #projects > div {
    @apply mx-3 grid grid-cols-[repeat(auto-fit,minmax(550px,1fr))] justify-items-center gap-y-10;
  }
  #projects article > img {
    @apply rounded-t-lg;
  }

  #projects article > p {
    @apply px-5 py-2;
  }

  #projects article > div:last-child {
    @apply mx-4 flex border-t-2 py-5 text-2xl;
  }
  #projects article > div:last-child > * {
    @apply mx-6 flex-1 bg-white/25 text-center;
    padding: 10px 0;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }

  .white-icon {
    filter: brightness(0) invert(1);
    @apply inline-block w-[20px];
  }

  .big-icon {
    filter: brightness(0) invert(1);
    @apply inline-block w-[30px];
  }

  #projects > h2,
  #skills > h2 {
    @apply w-[200px] border-b-[8px] border-slate-500 pb-3 whitespace-nowrap;
  }

  #projects h3,
  #skills h3 {
    @apply m-5 w-[200px] rounded-tl-lg border-t-[6px] border-l-[6px] border-slate-500 py-3 pl-5 whitespace-nowrap;
  }

  .project-tools {
    @apply flex flex-wrap gap-5 px-5 py-3 text-lg;
  }

  .center-icon {
    @apply flex items-center justify-center gap-[6px];
  }
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
}
@keyframes vertical-swing {
  to {
    transform: translateY(30px);
  }
}

/* Uncomment the following css normalize and reset stylesheet when writing vanilla css */

/* normalize stylesheet */
/* @import "../node_modules/modern-normalize/modern-normalize.css"; */

/* reset stylesheet */
/* :root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
} */
