@import "tailwindcss";

@layer base {
  body {
    @apply relative min-h-screen text-slate-900;
  }
  body::before {
    @apply absolute inset-0 -z-2 bg-slate-900 content-[''];
  }
  body::after {
    @apply absolute inset-0 -z-1 bg-white blur-lg content-[''];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-950;
  }
  h2 {
    @apply pt-20 lg:text-5xl/snug text-2xl/snug font-semibold;
  }
  h3 {
    @apply lg:text-3xl text-xl font-medium;
  }
  h4 {
    @apply mx-5 mt-6 justify-self-stretch border-l-3 py-1 pl-5 lg:text-2xl text-lg text-white;
  }

  figure {
    @apply flex flex-col items-center;
  }
  figure > img {
    @apply lg:w-[100px] w-[50px];
  }

  figcaption {
    @apply text-center text-slate-500 text-xs lg:text-base;
  }

  address {
    @apply mx-3 lg:mx-0 my-5 grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-y-5 text-lg not-italic;
  }

  address a {
    @apply flex items-center gap-2;
  }
  address img {
    @apply w-[30px];
  }
}

@layer components {
  .progress-bar::before {
    @apply absolute lg:inset-x-[50px] inset-x-[15px] bottom-0 h-min border-b-[0.5px] border-slate-500/50 content-[''];
  }
  .progress-bar::after {
    @apply absolute lg:inset-x-[50px] inset-x-[15px] bottom-0 h-[2px] bg-slate-950 content-[''];
    transform-origin: center left;
    animation: progress linear;
    animation-timeline: scroll(root block);
  }

  .shadowing {
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }

  .contact-button {
    padding: 5px 25px 8px 25px;
    border-radius: 40px;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.1),
      inset 0 -2px 5px rgba(0, 0, 0, 0.4),
      0 0 10px rgba(0, 0, 0, 0.3);
  }

  .separator {
    @apply relative;
  }
  .separator::before {
    @apply absolute inset-x-[40%] h-min border-t-[10px] border-double border-slate-500 content-[''];
  }

  #projects,
  #skills,
  #contact {
    @apply px-[8px] lg:px-[100px];
  }

  #projects article {
    @apply grid lg:w-[600px] w-[300px] items-start rounded-lg bg-slate-500 text-white;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }
  #projects > div {
    @apply lg:mx-3 mx-1 grid justify-items-center gap-y-10;
  }
  #projects article > img {
    @apply rounded-t-lg;
  }

  #projects article > p {
    @apply px-5 py-2 text-sm lg:text-base;
  }

  #projects article > div:last-child {
    @apply lg:mx-4 mx-2 flex border-t-2 py-5 lg:text-xl text-lg;
  }
  #projects article > div:last-child > * {
    @apply lg:mx-10 mx-2 flex-1 bg-white/25 text-center lg:py-1.5 py-1;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }

  .white-icon {
    filter: brightness(0) invert(1);
    @apply inline-block w-[20px];
  }

  .big-icon {
    filter: brightness(0) invert(1);
    @apply inline-block lg:w-[30px] w-[25px];
  }

  #projects > h2,
  #skills > h2 {
    @apply w-[200px] border-b-[8px] border-slate-500 pb-3 whitespace-nowrap;
  }

  #projects h3,
  #skills h3 {
    @apply m-5 w-[200px] rounded-tl-lg border-t-[6px] border-l-[6px] border-slate-500 py-3 lg:pl-5 pl-2 whitespace-nowrap;
  }

  .project-tools {
    @apply flex flex-wrap lg:gap-x-5 lg:gap-y-1 gap-x-3 gap-y-1 px-5 lg:pb-3 pb-2 lg:text-lg text-base;
  }

  .center-icon {
    @apply flex items-center justify-center gap-[6px];
  }

  #skills > div {
    @apply lg:mx-20 mx-5 grid lg:grid-cols-[repeat(auto-fill,minmax(150px,1fr))] grid-cols-[repeat(auto-fill,minmax(80px,1fr))] justify-items-center lg:gap-y-10 gap-y-5;
  }
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
}

/* Uncomment the following css normalize and reset stylesheet when writing vanilla css */

/* normalize stylesheet */
/* @import "../node_modules/modern-normalize/modern-normalize.css"; */

/* reset stylesheet */
/* :root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
} */
