@import "tailwindcss";

@layer base {
  body {
    @apply relative min-h-screen text-slate-900;
  }
  body::before {
    @apply absolute inset-0 -z-2 bg-slate-900 content-[''];
  }
  body::after {
    @apply absolute inset-0 -z-1 bg-white blur-lg content-[''];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-950;
  }
  h2 {
    @apply pt-20 text-5xl/snug font-semibold;
  }
  h3 {
    @apply mx-10 text-3xl font-medium;
  }
  h4 {
    @apply text-2xl justify-self-stretch text-white;
  }

  iframe {
    @apply rounded-t-lg;
  }

}

@layer components {
  .progress-bar::before {
    @apply absolute inset-x-[50px] bottom-0 h-min border-b-[0.5px] border-slate-500/50 content-[''];
  }
  .progress-bar::after {
    @apply absolute inset-x-[50px] bottom-0 h-px bg-slate-950 content-[''];
    transform-origin: center left;
    animation: progress linear;
    animation-timeline: scroll(root block);
  }

  .contact-button {
    padding: 5px 25px 8px 25px;
    border-radius: 40px;
    box-shadow:
      inset 0 2px 5px rgba(255, 255, 255, 0.1),
      inset 0 -2px 5px rgba(0, 0, 0, 0.4),
      0 0 10px rgba(0, 0, 0, 0.3);
  }

  .separator::before {
    @apply absolute inset-x-[40%] h-min border-t-[3px] border-double border-slate-500 content-[''];
  }

  #projects article {
    @apply grid justify-items-center w-[505px] rounded-lg bg-slate-500 text-white;
  }
  #projects > div {
    @apply mx-10 grid grid-cols-[repeat(auto-fit,minmax(600px,1fr))] gap-5;
  }
  #projects article > img {
    @apply rounded-t-lg;
  }

  .white-icon {
    filter: brightness(0) invert(1);
    @apply w-[18px] inline-block;
  }
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
}
@keyframes vertical-swing {
  to {
    transform: translateY(30px);
  }
}

/* Uncomment the following css normalize and reset stylesheet when writing vanilla css */

/* normalize stylesheet */
/* @import "../node_modules/modern-normalize/modern-normalize.css"; */

/* reset stylesheet */
/* :root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
} */
